@model CodeChallenge9.Models.Customer
@{
    ViewBag.Title = "CustomerByOrder";
}

<h2>Customer Details for OrderID 10248</h2>

<p>@Model.CustomerID - @Model.CompanyName - @Model.ContactName - @Model.Country</p>
